.page {
  padding: 24px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bit of animation for page */
.page {
  opacity: 0;
  animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Optional fallback fade-in */
.fade-loading {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}
